mixin modal()
    #callback(class="modal fade")
        .modal-dialog.modal-sm
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
                i.s-clearModal
            .modal-content
                .modal-body
                    p.modal-title.text-center Заказать звонок
                    form#callback-form
                        .form-group
                            input.form-control(placeholder="Контактное лицо")
                        .form-group
                            input.form-control(placeholder="Телефон")
                        button.btn.btn-red.btn-width.btn-lg Отправить