// Common styles of the project

html, body {
  height: 100%;
  color: #5c5861;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.page__wrapper {
  min-height: 100%;
  padding-bottom: 25px;

}
* html .page__wrapper {
    height: 100%;
}

.page__buffer {}

.linkTop{
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: $mainColor;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 13px;
  font-size: 13px;
  line-height: normal;
  opacity: 0;
  visibility: hidden;
  margin-bottom: -20px;
  @include tr;
  &.active{
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
  }
  &:before{
    content: '';
    @include triangle('up', #fff, 15px);
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  &:hover{
    margin-bottom: 10px;
  }
}

.copyright{
  color: #706f75;
  font-weight: 400;
  display: table;
  text-align: left;
  >*{
    display: table-cell;
    vertical-align: middle;
    +*{
      padding-left: 35px;
    }
  }
  i{
    margin-top: -9px;
  }
}
.modal-title {
  font-family: Neris, sans-serif;
}

.callback{
  background-color: #0488bf;
  margin-bottom: 39px;
  .container{
    padding-bottom: 94px;
    padding-top: 80px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: -4px;
      width: 142px;
      height: 10px;
      background-color: #2493e1;
    }
  }
  &__title{
    color: white;
    font-family: Neris, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 41px;
    margin-bottom: 70px;
  }
  &__form{
    display: table;
    width: 100%;
    margin: 0 auto;
    &-cell{
      display: table-cell;
      vertical-align: top;
      +*{
        padding-left: 12px;
      }
    }
  }
}






