// Common styles of the project

html, body {
  height: 100%;
  color: #5c5861;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.page__wrapper {
  min-height: 100%;
  padding-bottom: 25px;

}
* html .page__wrapper {
    height: 100%;
}

.page__buffer {}

.linkTop{
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: $mainColor;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 13px;
  font-size: 13px;
  line-height: normal;
  opacity: 0;
  visibility: hidden;
  margin-bottom: -20px;
  @include tr;
  &.active{
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
  }
  &:before{
    content: '';
    @include triangle('up', #fff, 15px);
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  &:hover{
    margin-bottom: 10px;
  }
}

.copyright{
  color: #706f75;
  font-weight: 400;
  display: table;
  text-align: left;
  >*{
    display: table-cell;
    vertical-align: middle;
    +*{
      padding-left: 35px;
    }
  }
  i{
    margin-top: -9px;
  }
}
.modal-title {
  font-family: Neris, sans-serif;
}

.callback{
  background-color: #0488bf;
  margin-bottom: 39px;
  .container{
    padding-bottom: 94px;
    padding-top: 80px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      right: 15px;
      top: -4px;
      width: 142px;
      height: 10px;
      background-color: #2493e1;
    }
  }
  &__title{
    color: white;
    font-family: Neris, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 41px;
    margin-bottom: 70px;
  }
  &__form{
    display: table;
    width: 100%;
    margin: 0 auto;
    &-cell{
      display: table-cell;
      vertical-align: top;
      +*{
        padding-left: 12px;
      }
    }
  }
}


.filter{
  font-size: 0;
  font-weight: 400;
  line-height: 25px;
  margin: 0 -12.5px;
  margin-bottom: 10px;
  &__section{
    font-size: 14px;
    display: inline-block;
    padding: 3px 12.5px;
  }
  &__element{
    em{
      display: inline-block;
      vertical-align: middle;
      @include triangle('up', #1d1d21, 7px, 4px);
      margin-left: 11px;
    }
  }
}

.callback-inner{
  background-color: #0e6eb2;
  background-image: linear-gradient(to top, #4f4cc5 0%, #1681cd 100%);
  padding: 40px 56px;
  &__title{
    color: white;
    font-family: Neris, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    margin-bottom: 30px;
  }
}

.detali{
  &__slider{
    border: 1px solid #6dafdd;
    //padding: 22px;
    position: relative;
    padding: 25px 0;
    padding-right: 93px;
    .section{
      outline: none;
      background-size: cover;
      background-position: center;
      text-align: center;
      img{
        display: inline-block;
        max-height: 100%;
      }
    }
    &-main{
      //float: left;
      .section{
        height: 399px;
        line-height: 399px;
      }
    }
    &-preview{
      position: absolute;
      right: 22px;
      top: 25px;
      width: 53px;
      .section{
        cursor: pointer;
        height: 48px;
        background-color: white;
        border: 1px solid #d6d6d6;
        margin: 5px 2px;
        &.slick-current{
          outline: 2px solid #6dafdd;
          outline-offset: -2px;
        }
      }
    }
  }
  &__price{
    font-family: Neris, sans-serif;
    &-title{
      color: #0072c3;
      font-size: 24px;
      font-weight: 300;
      line-height: 40px;
    }
    &-content{
      color: #313131;
      font-size: 33px;
      font-weight: 900;
      line-height: 48px;
      text-transform: uppercase;
      fill: currentColor;
    }
    &-default{
      svg{
        width: 18px;
        height: 24px;
      }
    }
    &-discount{
      position: relative;
      font-size: 18px;
      top: -1.1em;
      svg{
        width: 9px;
        height: 14px;
      }
      &:after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ed1b2f;
        position: absolute;
        left: 0;
        top: 50%;
        //margin-top: -1px;
      }
    }
  }
  &__features{
    @include nl;
    display: table;
    width: 100%;
    color: #5c5861;
    font-size: 15px;
    line-height: normal;
    >*{
      display: table-row;
      &:nth-of-type(2n-1){
        background-color: #f0f3f4;
      }
      >*{
        display: table-cell;
        vertical-align: middle;
        padding: 16px 10px;
      }
    }
  }
}

.line-dashed{
  border-top: 3px dashed #eee;
  margin: 80px 0;
  .container{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      left: 15px;
      top: -7px;
      display: block;
      width: 142px;
      height: 10px;
      background-color: #2493e1;
    }
  }
  &_right{
    .container {
      &:after {
        left: auto;
        right: 15px;
      }
    }
  }
  &_marginMin{
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.slider-index{
  color: white;
  font-family: Neris, sans-serif;
  font-weight: 900;
  position: relative;
  &-dotsBlock{
    position: relative;
    z-index: 2;
    .container{
      position: relative;
    }
    &-dots{
      position: absolute;
      top: 56px;
      right: 15px;
    }
  }
  &__table{
    display: table;
    width: 100%;
    height: 526px;
    &-cell{
      display: table-cell;
      vertical-align: middle;
    }
  }
  &__section{
    outline: none;
    background-size: cover;
    background-position: center;
  }
  &__title{
    font-size: 69px;
    line-height: 91px;
    margin: 0;
    margin-bottom: 20px;
  }
  &__titleSub{
    font-size: 32px;
    line-height: normal;
    margin: 0;
  }
}

.advantages{
  padding-top: 65px;
  font-size: 0;
  margin: 0 -40px;
  &__section{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 50%;
    padding: 0 40px;
  }
  &__item{
    display: table;
    >*{
      display: table-cell;
      vertical-align: top;
      +*{
        padding-left: 68px;
      }
    }
    &-icon{
      padding-top: 10px;
    }
    &-desc{
      font-family: Neris, sans-serif;
    }
    &-title{
      color: #28252e;
      font-size: 21px;
      font-weight: 600;
      line-height: 28px;
    }
    &-text{
      color: #7b7782;
      font-size: 17px;
      font-weight: 300;
      line-height: 28px;
      margin: 0;
    }
  }
}

.services{
  font-size: 0;
  &__section{
    font-size: 14px;
    display: inline-block;
    width: 25%;
  }
  &__item{
    display: table;
    color: #006fbe;
    font-family: Neris, sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    >*{
      display: table-cell;
      vertical-align: middle;
      +*{
        padding-left: 24px;
      }
    }
    &-img{
      width: 69px;
      height: 69px;
      background-color: #95959c;
      border-radius: 2px;
      background-size: cover;
      background-position: center;
      img{
        border-radius: 2px;
      }
    }
  }
}


.index-category{
  display: table;
  width: 100%;
  &__section{
    //font-size: 14px;
    display: table-cell;
    //display: inline-block;
    vertical-align: top;

  }
  &__item{
    background-color: #0488bf;
    border-radius: 2px;
    font-family: Neris, sans-serif;
    color: white;
    display: block;
    padding: 50px 0;
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;
    margin: 1.5px;
    height: 275px;
    width: 472px;
    +*{
      margin-top: 3px;
    }
    &_big{
      height: 553px;
      width: auto;
    }
    &-padding{
      padding-left:60px;
      padding-right: 60px;
    }
    &-bottom{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &-list{
      @include nl;
      li{
        display: block;
        a{
          display: block;
          color: white;
          font-size: 17px;
          font-weight: 300;
          line-height: normal;
          padding: 6px 0;
          >span{
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          }
          &:hover{
            >span{
              border-bottom-color: rgba(255, 255, 255, 0.6);
            }
          }
        }
      }
    }
    &-title{
      font-size: 23px;
      font-weight: 600;
      line-height: 32px;
      text-transform: uppercase;
    }
    &-link{
      color: inherit;
      display: block;
      font-size: 14px;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
      >span{
        border: 2px solid #fff;
        border-radius: 2px;
        display: inline-block;
        padding: 0 43px;
        line-height: 40px;
      }
      &:hover{
        >span{
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
}

.tabs{
  &__list{
    @include nl;
    border: 2px solid #d8dadb;
    display: inline-block;
    border-radius: 2px;
    &:after{
      content: '';
      display: table;
      clear: both;
    }
    li{
      float: left;
      padding: 0;
      +*{
        border-left: 1px solid #d8dadb;
      }
      a{
        font-size: 19px;
        font-weight: 300;
        line-height: normal;
        color: #6b757c;
        padding: 0 45px;
        padding-top: 14px;
        padding-bottom: 12px;
        display: block;
        font-family: Neris, sans-serif;
      }
      &:first-child{
        a{
          border-radius: 2px 0 0 2px;
        }
      }
      &:last-child{
        a{
          border-radius: 0 2px 2px 0;
        }
      }
      &.active{
        a{
          color: white;
          background-color: #3466c9;
          border-color: #3466c9;
        }
      }
    }
  }
  &__content{
    &-item{
      &:not(.active){
        display: none;
      }
    }
  }
}

.table-block{
  display: table;
  &__cell{
    display: table-cell;
    vertical-align: top;
    +*{
      padding-left: 50px;
    }
    &_img{
      width: 303px;
    }
  }
}

.img-big{
  background-color: white;
  img{
    border-radius: 4px;
  }
}

.table-listItem{
  display: table;
  width: 100%;
  &__row{
    display: table-row;
    &:nth-of-type(2n-1){
      .table-listItem__cell{
        background-color: #f0f3f4;
      }
    }
  }
  &__cell{
    display: table-cell;
    vertical-align: middle;
    padding: 14px 16px;
    &_img{
      width: 1px;
    }
  }
  &__img{
    background-color: white;
    border: 1px solid #d4d6d7;
    width: 77px;
    height: 71px;
    display: block;
    line-height: 66px;
    overflow: hidden;
  }
  &__titles{
    color: #36373a;
    font-size: 15px;
    &-name{
      font-size: 17px;
    }
  }
  &__version{
    color: #727377;
    font-size: 15px;
  }
  &__price{
    color: #313131;
    font-family: Neris, sans-serif;
    font-size: 21px;
    font-weight: 900;
    line-height: 30px;
  }
  &__btn{
    color: #35a80e;
    font-family: Neris, sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 25px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    text-align: center;
    >span{
      display: block;
      border: 2px solid #2ba600;
      border-radius: 2px;
      padding: 7.5px 20px;
    }
    &:hover{
      >span{
        background-color: #2ba600;
        color: #fff;
      }
    }
  }
}












