.item{
  border: 2px solid rgba(223, 223, 223, 0.7);
  border-radius: 2px;
  display: block;
  padding: 0 56px;
  padding-top: 40px;
  padding-bottom: 26px;
  position: relative;
  &__discount{
    color: white;
    font-family: Neris, sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 88px;
    left: -44px;
    background-color: #ed1b2f;
    padding: 0 12px;
    transform: rotate(-90deg);
    backface-visibility: hidden;
    will-change: transform;
    transform-style: preserve-3d;
  }
  &__img{
    margin-bottom: 20px;
    img{
      display: inline-block;
    }
  }
  &__title{
    color: #7e7f82;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }
  &__btn{
    @include btn-clear;
    height: 44px;
    border: 2px solid #ff4254;
    border-radius: 2px;
    color: #e70016;
    font-family: Neris, sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 25px;
    text-transform: uppercase;
    padding: 0 10px;
    width: 100%;
    &:hover{
      background-color: #ff4254;
      color: #fff;
    }
  }
  &__price{
    margin: 0 -56px;
    margin-bottom: 15px;
    margin-top: 24px;
    color: #313131;
    fill: #313131;
    font-family: Neris, sans-serif;
    font-size: 21px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    &-default{}
    &-discount{
      position: relative;
      font-size: 18px;
      svg{
        width: 9px;
        height: 14px;
      }
      &:after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ed1b2f;
        position: absolute;
        left: 0;
        top: 50%;
        //margin-top: -1px;
      }
    }
  }
}
.itemList{
  margin: -2.5px;
  font-size: 0;
  &__section{
    padding: 2.5px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 25%;
  }
  &_slider{
    margin: 0;
    display: block;
    .itemList__section{
      display: block;
      width: auto;
    }
  }
}