mixin footer(data)
    .footer.not-styleLink
        .container
            .row
                .col-lg-8.col-md-7
                    p.color-grey © 2017, Компания «ПрофСервис». Оборудование для автоматизации тех.процессов.
                    a(href="#").color-black: b.color-black__title +7 900 021-49-13
                    span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    a(href='#').color-blue: span.color-blue__title chlift@yandex.ru


                .col-lg-4.col-md-5
                    br.hidden-md-up
                    a(href="#").copyright.color-grey
                        .copyright-img: i.s-insite
                        .copyright-title: span.color-grey__title Разработка сайта —
                            br
                            |Интернет-компания «Инсайт»





























